body {
	background: #222;
	-webkit-touch-callout: none;
	-moz-touch-callout: none;
	-ms-touch-callout: none;
	-o-touch-callout: none;
	touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-moz-tap-highlight-color: rgba(0,0,0,0);
	-ms-tap-highlight-color: rgba(0,0,0,0);
	-o-tap-highlight-color: rgba(0,0,0,0);
	tap-highlight-color: rgba(0,0,0,0);
	font-family: 'AliceRegular', 'Georgia', 'Times New Roman', serif;/*
	background: #222 url(../images/mobile/background.png?v2) 0 0 repeat;
	*/line-height:1;
}

a {
	color:#2c9512;
}

a:hover {
	color:#95cc15;
}

#game {
	width: 460px;
	height: 520px;
	top: 0%;
	/*margin-left: -480px;
	margin-top: -360px;
*/
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;

	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25),
		inset 0 -1px 0 rgba(0,0,0,0.3),
		0 0 15px #000,
		0 0 4px #000;
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25),
		inset 0 -1px 0 rgba(0,0,0,0.3),
		0 0 15px #000,
		0 0 4px #000;
	-ms-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25),
		inset 0 -1px 0 rgba(0,0,0,0.3),
		0 0 15px #000,
		0 0 4px #000;
	-o-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25),
		inset 0 -1px 0 rgba(0,0,0,0.3),
		0 0 15px #000,
		0 0 4px #000;
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.25),
		inset 0 -1px 0 rgba(0,0,0,0.3),
		0 0 15px #000,
		0 0 4px #000;

	background: url(../images/mobile/seamless-wood-small.jpg?v2) 0 0 repeat;
}

#cache {
	position: absolute;
	top:0;
	left:0;
}

#versioning {
	position: absolute;
	font-family:helvetica,arial,sans-serif;
	font-size:12px;
	color:#d69c40;
	top:10px;
	right:10px;
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);
}

.tileButton,
.tile {
	-webkit-transform:translateZ(0);
	-moz-transform:translateZ(0);
	-ms-transform:translateZ(0);
	-o-transform:translateZ(0);
	transform:translateZ(0);
	z-index:40;
	position: absolute;
	width: 50px;
	height: 50px;
	background: url(../images/mobile/tiles.png?v6) center center no-repeat;
	font-size: 36px;
	text-align: center;
	line-height: 50px;
	text-shadow: 0 1px 1px #fff;
	overflow: hidden;
	color: #1d1714;
	cursor: default;
}

.tileButton {
	background: url(../images/mobile/tile-button.png?v3) 0 0 no-repeat;
	color:#eee;
	font-size: 30px;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
}

.tileButton:hover {
	background-position: -80px 0;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.6),
		0 0 6px rgba(255,255,255,0.5);
}

.tileButton.tapPressed,
.tileButton:active {
	background-position: -160px 0;
	font-size: 29px;
}

.tileButton.empty {
	background-position: 100% 0 !important;
}

.tile.variant1 { background-position: 0 0; }
.tile.variant2 { background-position: -80px 0; }
.tile.variant3 { background-position: -160px 0; }

.tile.variant4 {
	background-position: -320px 0;
	color: #0f2111;
	text-shadow: 0 1px 1px #b0ffd0;
}

.tile.variant5 {
	background-position: -640px 0;
	color: #100c19;
	text-shadow: 0 1px 1px #e4c7ff;
}

.tile.variant6 {
	background-position: -720px 0;
	color: #3b260e;
	text-shadow: 0 1px 1px #fff5b2;
}

.tile.variant7 {
	background-position: -800px 0;
	color: #eee;
	text-shadow: 0 -1px 1px #000;
}

.tile.pressed {
	background-position: -240px 0;
	line-height: 50px;
	color: #171b39;
}

.tile.variant7.pressed,
.tile.variant6.pressed,
.tile.variant5.pressed,
.tile.variant4.pressed {
	background-position: -400px 0;
	text-shadow: 0 1px 1px #fff;
}

.tile.wrong {
	background-position: -480px 0;
	text-shadow: 0 1px 1px #fff;
	color: #2a1112;
}

.tile.drag {
	opacity:0.5;
	z-index:1000;
}

.tile.slot {
	background-position: -560px 0;
}

.tile.empty {
	background-position: 100% 0;
}

/**
 *
 * Home screen
 *
 */
#homescreen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/**
 *
 * Logo
 *
 */
#gameover,
#logo {
	/*position: absolute;
	z-index: 40;
	height: 98px;
	width: 404px;
	top: 20px;
	left: 50%;
	margin-left: -372px;*/
}

#gameover li,
#logo li {
	display: block;
	float: left;
	text-indent: -9999em;
	overflow: hidden;
	height: 128px;
	width: 400px;
	margin: 0 3px;
	-webkit-transform:translateZ(0);
	-moz-transform:translateZ(0);
	-ms-transform:translateZ(0);
	-o-transform:translateZ(0);
	transform:translateZ(0);
}

#logo li {
	margin-left:-9999px;
}
.logologo { width: 400px; background-position: 0 0; }

.logoT { 	background: url(../images/mobile/logologo.png?v2) center top no-repeat;
 }
.logoU { background:none; }
.logoN { background:none;  }
.logocun { background:none;  }
.logoG { background:none;  }
.logoM { background:none;  }
.logoO {background:none;  }
.logoV { background:none;  }
.logoR { background:none; }
#gameover {
	width: 726px;
	margin-left: -363px;
}

#gameover li {
	margin: 0;
}

#gameover .logoO {
	margin: 0 0 0 30px;
}

#gameoverClose {
	z-index:1200;
}

/**
 *
 * Gate
 *
 */
#gateLeft, #gateRight {
	z-index: 30;
	-webkit-transform:translateZ(0);
	-moz-transform:translateZ(0);
	-ms-transform:translateZ(0);
	-o-transform:translateZ(0);
	transform:translateZ(0);

	background: url(../images/mobile/h-engrave.png?v2) 0 0 no-repeat,
		url(../images/mobile/seamless-wood-small.jpg?v2) 0 0 repeat;
}

#gateLeft {
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
	background-position: 91px 50%, 0 0;
	border-right:1px solid #000;

/*	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25),
		inset 1px 0 0 rgba(255,255,255,0.25),
		inset -1px 0 0 rgba(0,0,0,0.4),
		inset 0 -1px 0 rgba(0,0,0,0.4);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25),
		inset 1px 0 0 rgba(255,255,255,0.25),
		inset -1px 0 0 rgba(0,0,0,0.4),
		inset 0 -1px 0 rgba(0,0,0,0.4);
	-ms-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25),
		inset 1px 0 0 rgba(255,255,255,0.25),
		inset -1px 0 0 rgba(0,0,0,0.4),
		inset 0 -1px 0 rgba(0,0,0,0.4);
	-o-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25),
		inset 1px 0 0 rgba(255,255,255,0.25),
		inset -1px 0 0 rgba(0,0,0,0.4),
		inset 0 -1px 0 rgba(0,0,0,0.4);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.25),
		inset 1px 0 0 rgba(255,255,255,0.25),
		inset -1px 0 0 rgba(0,0,0,0.4),
		inset 0 -1px 0 rgba(0,0,0,0.4);*/
}

#gateRight {
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	left: 50%;
	background-position: -91px 50%, -19px 0;
	border-left:1px solid #000;
	margin-left:-1px;

/*	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25),
		inset 1px 0 0 rgba(255,255,255,0.25),
		inset -1px 0 0 rgba(0,0,0,0.4),
		inset 0 -1px 0 rgba(0,0,0,0.4);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25),
		inset 1px 0 0 rgba(255,255,255,0.25),
		inset -1px 0 0 rgba(0,0,0,0.4),
		inset 0 -1px 0 rgba(0,0,0,0.4);
	-ms-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25),
		inset 1px 0 0 rgba(255,255,255,0.25),
		inset -1px 0 0 rgba(0,0,0,0.4),
		inset 0 -1px 0 rgba(0,0,0,0.4);
	-o-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25),
		inset 1px 0 0 rgba(255,255,255,0.25),
		inset -1px 0 0 rgba(0,0,0,0.4),
		inset 0 -1px 0 rgba(0,0,0,0.4);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.25),
		inset 1px 0 0 rgba(255,255,255,0.25),
		inset -1px 0 0 rgba(0,0,0,0.4),
		inset 0 -1px 0 rgba(0,0,0,0.4);*/
}


/**
 *
 * Main menu
 *
 */
#mainmenu {
	position: absolute;
	z-index: 25;
	top: 135px;
	left: 50%;
	width: 372px;
	height: 546px;
	margin-left: -186px;
	background: url(../images/mobile/mainmenu-bg.png?v1) 0 0 no-repeat,
		url(../images/mobile/seamless-wood-small-dark.jpg?v2) 0 0 repeat;
	text-align: center;
	overflow: hidden;
	border-top: 1px solid #572518;
	border-left: 1px solid #572518;
	border-right: 1px solid #a0784d;
	border-bottom: 1px solid #a0784d;
}

#mainmenu .button {
	position: absolute;
	left: 50%;
	margin-left: -149px;
}

.button {
	display: inline-block;
	background: url(../images/mobile/buttons.png?v2) 0 0 no-repeat;

	text-shadow: 0 -1px 1px rgba(0,0,0,0.6);

	width: 298px;
	height: 85px;
	line-height: 85px;
	margin: 16px 0;
	text-align: center;
	color: #eee;

	font-size: 24px;

	cursor: default;
}

.button:hover {
	background-position: 0 -85px;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.6),
		0 0 6px rgba(255,255,255,0.5);
}

.button.tapPressed,
.button:active {
	background-position: 0 -170px;
	font-size: 23px;
}

.button.action {
	background-position: 0 -255px;
	font-size: 30px;
}

.button.action:hover {
	background-position: 0 -340px;
}

.button.action.tapPressed,
.button.action:active {
	background-position: 0 -425px;
	font-size: 29px;
}

.button.disabled {
	background-position: 0 -510px !important;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.6) !important;
	font-size:24px !important;
}

/**
 *
 * Hexagame
 *
 */
#hexagame {
	position: absolute;
	top: 0;
	left: -9999px;
	width: 100%;
	height: 100%;
}

#boardwrapper {
		position: absolute;
	z-index: 25;
	top: 135px;
	left: 50%;
	width: 372px;
	height: 546px;
	margin-left: -186px;
	/*background: url(../images/mobile/mainmenu-bg.png?v1) 0 0 no-repeat,
		url(../images/mobile/seamless-wood-small-dark.jpg?v2) 0 0 repeat;*/
	text-align: center;
	overflow: hidden;
	border-top: 1px solid #572518;
	border-left: 1px solid #572518;
	border-right: 1px solid #a0784d;
	border-bottom: 1px solid #a0784d;
	/*
	position: absolute;
	z-index: 40;
	width: 654px;
	height: 678px;
	left: 20px;
	top: 50%;
	margin-top: -339px;
/*	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	background: url(../images/mobile/seamless-wood-small-dark.jpg?v2) 0 0 repeat;
	border:1px solid #000;*/
	/*border-width:12px;
	-webkit-border-image:url(../images/mobile/board-border.png?v2) 12 12 12 12 repeat;
	-moz-border-image:url(../images/mobile/board-border.png?v2) 12 12 12 12 repeat;
	-ms-border-image:url(../images/mobile/board-border.png?v2) 12 12 12 12 repeat;
	-o-border-image:url(../images/mobile/board-border.png?v2) 12 12 12 12 repeat;
	border-image:url(../images/mobile/board-border.png?v2) 12 12 12 12 repeat;*/
}

#boardcloth {
	position: absolute;
	top:0;
	left:0px;
	bottom:0px;
	right:0px;
	padding: 0;
	background: url(../images/mobile/cloth.png?v2) 0 0 repeat;
	border-width:8px;
	-webkit-border-image:url(../images/mobile/boardcloth-border.png?v2) 8 8 8 8 repeat;
	-moz-border-image:url(../images/mobile/boardcloth-border.png?v2) 8 8 8 8 repeat;
	-ms-border-image:url(../images/mobile/boardcloth-border.png?v2) 8 8 8 8 repeat;
	-o-border-image:url(../images/mobile/boardcloth-border.png?v2) 8 8 8 8 repeat;
	border-image:url(../images/mobile/boardcloth-border.png?v2) 8 8 8 8 repeat;
	text-shadow:0 1px 0 #1e2d19;
}

#board {
	/*position: absolute;*/
	z-index: 40;
	width: 370px;
	height: 405px;
	/*left: 50%;
	top: 50%;
	margin-top: -297px;
	margin-left: -280px;*/
}


/**
 *
 * Scoreboard
 *
 */
#scoreboard {
	position: absolute;
	z-index: 35;
	width:370px;
	height:130px;
	left:0px;
	top:0px; padding: 5px;
	text-shadow:0 1px 1px #000;
	background: #333;
}

#scoreboard .label {
	display: block;
	font-size:14px;
	color:#de8a39;
	padding: 0;
	white-space:nowrap;
}

#scoreboard .value {
	position: absolute;
	bottom:0px;
	left:0;
	padding-right:0px;
	width:100%;
	height:32px;
	font-size:20px;
	color:#fff9db;
	text-align:left;
}

#scoreboard .field {
	display: block;
	float: left;
	position: relative;
	width:33%;
	height:50px;
	margin-bottom: 5px;
	padding:4px;
	/*background:url(../images/mobile/scoreboard-slot-half.png?v2) 0 0 no-repeat;

/*	border-radius:5px;
	background:rgba(0,0,0,0.4);
	box-shadow:inset 0 0 5px #000,
		0 1px 0 rgba(255,255,255,0.3),
		0 -1px 0 rgba(0,0,0,0.1);*/
}

#scoreboard .field > div {
	width: 100%;
	height: 100%;
/*	background: #161413;
	background: -webkit-linear-gradient(top, #0c0809, #261812);
	background: -moz-linear-gradient(top, #0c0809, #261812);
	background: -ms-linear-gradient(top, #0c0809, #261812);
	background: -o-linear-gradient(top, #0c0809, #261812);
	background: linear-gradient(top, #0c0809, #261812);
	border-radius:4px;
	box-shadow:inset 0 0 5px #000,
		0 1px 0 rgba(255,255,255,0.2),
		0 -1px 0 rgba(0,0,0,0.1);*/
}

#sbWords {
	margin-right: 16px;
	width: 50px;
}
#scoreboard .field.half {
	width:49px;
	float: left;
	/*background:url(../images/mobile/scoreboard-slot-half.png?v1) 0 0 no-repeat;
	-webkit-background-size:112px 77px;
	background-size:112px 77px;*/
}

#sbLevel .label {
	width:52px;
}

#sbLevel .value {
	width:60px;
	padding: 0;
	float: right;
}

#sbBonusWord .value {
	font-size:24px;
}

#swapSlots {
	position: absolute;
	right: 16px;
	bottom: 16px;
	height: 14px;
}

#swapSlots li {
	display: block;
	float: right;
	width:16px;
	height:16px;
	margin-left: 2px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	-ms-border-radius:7px;
	-o-border-radius:7px;
	border-radius:7px;
	text-indent:-9999em;
	background:url(../images/mobile/swaps-overlay.png?v1) 0 0 no-repeat,
		-webkit-linear-gradient(top, #7ee891, #2c5832) -24px 0 no-repeat;
	background:url(../images/mobile/swaps-overlay.png?v1) 0 0 no-repeat,
		-moz-linear-gradient(top, #7ee891, #2c5832) -24px 0 no-repeat;
	background:url(../images/mobile/swaps-overlay.png?v1) 0 0 no-repeat,
		-ms-linear-gradient(top, #7ee891, #2c5832) -24px 0 no-repeat;
	background:url(../images/mobile/swaps-overlay.png?v1) 0 0 no-repeat,
		-o-linear-gradient(top, #7ee891, #2c5832) -24px 0 no-repeat;
	background:url(../images/mobile/swaps-overlay.png?v1) 0 0 no-repeat,
		linear-gradient(top, #7ee891, #2c5832) -24px 0 no-repeat;

/*	background-color: #DDD;
	border:1px solid #000;
	background:-webkit-linear-gradient(top, rgba(255,255,255,0.05) 0, rgba(255,255,255,0.12) 50%, rgba(255,255,255,0) 50%) 0 0 no-repeat,
		-webkit-linear-gradient(top, #7ee891, #2c5832) -24px 0 no-repeat;
	background:-moz-linear-gradient(top, rgba(255,255,255,0.05) 0, rgba(255,255,255,0.12) 50%, rgba(255,255,255,0) 50%) 0 0 no-repeat,
		-moz-linear-gradient(top, #7ee891, #2c5832) -24px 0 no-repeat;
	background:-ms-linear-gradient(top, rgba(255,255,255,0.05) 0, rgba(255,255,255,0.12) 50%, rgba(255,255,255,0) 50%) 0 0 no-repeat,
		-ms-linear-gradient(top, #7ee891, #2c5832) -24px 0 no-repeat;
	background:-o-linear-gradient(top, rgba(255,255,255,0.05) 0, rgba(255,255,255,0.12) 50%, rgba(255,255,255,0) 50%) 0 0 no-repeat,
		-o-linear-gradient(top, #7ee891, #2c5832) -24px 0 no-repeat;
	background:linear-gradient(top, rgba(255,255,255,0.05) 0, rgba(255,255,255,0.12) 50%, rgba(255,255,255,0) 50%) 0 0 no-repeat,
		linear-gradient(top, #7ee891, #2c5832) -24px 0 no-repeat;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4),
		inset 0 0 6px rgba(255,255,255,0.3),
		0 0 4px #000;
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4),
		inset 0 0 6px rgba(255,255,255,0.3),
		0 0 4px #000;
	-ms-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4),
		inset 0 0 6px rgba(255,255,255,0.3),
		0 0 4px #000;
	-o-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4),
		inset 0 0 6px rgba(255,255,255,0.3),
		0 0 4px #000;
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.4),
		inset 0 0 6px rgba(255,255,255,0.3),
		0 0 4px #000;*/
}

#swapSlots li.active {
	background-position:0 0, 0 0;
}

#levelProgress {
	position: absolute;
	z-index: 50;
	left: 0px;
	top: 106px;
	width: 370px;
	height: 14px;
	background:-webkit-linear-gradient(top, #399df3, #173484) -154px 0 no-repeat;
	background:-moz-linear-gradient(top, #399df3, #173484) -154px 0 no-repeat;
	background:-ms-linear-gradient(top, #399df3, #173484) -154px 0 no-repeat;
	background:-o-linear-gradient(top, #399df3, #173484) -154px 0 no-repeat;
	background:linear-gradient(top, #399df3, #173484) -154px 0 no-repeat;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
}

#levelProgressOverlay {
	position: absolute;
	z-index: 55;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background:url(../images/mobile/levelup-overlay.png?v1) 0 0 no-repeat;
	-webkit-background-size:370px 14px;
	background-size:370px 14px;
}


#sbTimeMin {
	position: absolute;
	bottom:0px;
	right:91px;
	width:32px;
	height:32px;
	font-size:28px;
	color:#fff9db;
	text-align:right;
}

#sbTimeDiv {
	position: absolute;
	bottom:0px;
	right:71px;
	width:20px;
	height:32px;
	font-size:28px;
	color:#fff9db;
	text-align:right;
}

#sbTimeSec {
	position: absolute;
	bottom:0px;
	right:21px;
	width:52px;
	height:32px;
	font-size:28px;
	color:#fff9db;
	text-align:right;
}
#sbTime span {text-align: center;}
/**
 *
 * Ready... GO!
 *
 */
#readyGo, .timesUp, .levelUp, #emptyText {
	background-image: url(../images/mobile/texts.png?v2);
	background-repeat: no-repeat;
}

#emptyText {
	width: 10px;
	height: 10px;
}

#readyGo {
	position:absolute;
	z-index:100;
	width: 720px;
	height: 165px;
	top: 50%;
	left: 50%;
	margin-left: -360px;
	margin-top: -82px;
	overflow: hidden;
	background-position: 0 165px;
	-webkit-mask-image:-webkit-linear-gradient(top, rgba(0,0,0,0) 0, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
	-moz-mask-image:-moz-linear-gradient(top, rgba(0,0,0,0) 0, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
	-ms-mask-image:-ms-linear-gradient(top, rgba(0,0,0,0) 0, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
	-o-mask-image:-o-linear-gradient(top, rgba(0,0,0,0) 0, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
	mask-image:linear-gradient(top, rgba(0,0,0,0) 0, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
}

/**
 *
 * Floating message
 *
 */
.floatingMessage {
	position:absolute;
	left:0;
	top:0;
	width:400px;
	height:40px;
	line-height:40px;
	z-index:100;
	opacity:0;
	text-align:center;
	font-size:44px;
	text-shadow:0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
	color:#BF2B05;
	pointer-events:none;
}


/**
 *
 * Popup
 *
 */
#popupCloak {
	display: none;
	position: absolute;
	z-index:999;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.4);
}

#popup {
	position: absolute;
	border-width:31px;
	z-index:1000;
	left:-9999px;
	top: 50%;
	color:#fff9db;
	-webkit-border-image:url(../images/mobile/popup-border.png?v2) 31 31 31 31 repeat;
	-moz-border-image:url(../images/mobile/popup-border.png?v2) 31 31 31 31 repeat;
	-ms-border-image:url(../images/mobile/popup-border.png?v2) 31 31 31 31 repeat;
	-o-border-image:url(../images/mobile/popup-border.png?v2) 31 31 31 31 repeat;
}

#popup h1 {
	font-weight:normal;
	font-size:30px;
	line-height:120%;
}

#popup p {
	line-height:140%;
	margin-bottom:10px;
}

#popup > div {
	background:rgba(0,0,0,0.8);
	width:100%;
	height:100%;
/*	-webkit-box-shadow:inset 0 0 20px #000;
	-moz-box-shadow:inset 0 0 20px #000;
	-ms-box-shadow:inset 0 0 20px #000;
	-o-box-shadow:inset 0 0 20px #000;
	box-shadow:inset 0 0 20px #000;*/
}

#popup.alt > div {
	background:url(../images/mobile/cloth.png?v2);
	-webkit-box-shadow:inset 0 0 20px rgba(0,30,0,0.75);
	-moz-box-shadow:inset 0 0 20px rgba(0,30,0,0.75);
	-ms-box-shadow:inset 0 0 20px rgba(0,30,0,0.75);
	-o-box-shadow:inset 0 0 20px rgba(0,30,0,0.75);
	box-shadow:inset 0 0 20px rgba(0,30,0,0.75);
}

#popup .loadingMsg {
	display: none;
	padding:20px;
	margin-top:20px;
	background:#1d3eba;
	color:#fff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
}

#popup .loading .loadingMsg {
	display: block;
}

/**
 *
 * Game over
 *
 */
#gameResult {
	position: absolute;
	top: 130px;
	width: 100%;
	padding: 0 40px;
	color: #fff9db;
	font-size: 30px;
	text-align: center;
	text-shadow: 0 1px 1px #000;
	line-height: 130%;
}

#gameResult strong {
	font-weight: normal;
	font-size: 40px;
}

/*
#gameResult .button.action {
	font-size:24px;
}

#gameResult .button.action.tapPressed,
#gameResult .button.action:active {
	font-size:23px;
}
*/


/**
 *
 * Checkpoint
 *
 */
#checkpoint {
/*	position: absolute;*/
	z-index: 100;
	width: 370px;
/*	margin-left: -240px;*/
	left: -9999px;
	top: 60px;
	text-align: center;
 }

.checkpoint {
	position: relative;
	display: block;
	text-align: left;
	width: 100%;
	height: 40px;
	padding: 15px;
	line-height: 10px;
	font-size: 28px;
	color: #fff9db;
	background: url(../images/mobile/seamless-wood-small.jpg?v2) 0 0 repeat;
	margin-bottom: 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #26130a;
	white-space: nowrap;
	overflow: hidden;
	text-shadow: 0 1px 1px #000;
	-webkit-box-shadow: 0 0 10px #000,
		inset 0 1px 0 rgba(255,255,255,0.3),
		inset 0 -1px 0 rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 10px #000,
		inset 0 1px 0 rgba(255,255,255,0.3),
		inset 0 -1px 0 rgba(0,0,0,0.4);
	-ms-box-shadow: 0 0 10px #000,
		inset 0 1px 0 rgba(255,255,255,0.3),
		inset 0 -1px 0 rgba(0,0,0,0.4);
	-o-box-shadow: 0 0 10px #000,
		inset 0 1px 0 rgba(255,255,255,0.3),
		inset 0 -1px 0 rgba(0,0,0,0.4);
	box-shadow: 0 0 10px #000,
		inset 0 1px 0 rgba(255,255,255,0.3),
		inset 0 -1px 0 rgba(0,0,0,0.4);
}

.checkpoint span {
	position: absolute;
	right: 15px;
	top: 5px;
	display: block;
	width: auto;
	height: 30px;
	line-height: 30px;
	background: rgba(20,0,0,0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	padding: 0 10px;
	-webkit-box-shadow:inset 0 -1px 0 rgba(255,255,255,0.3),
		inset 0 1px 0 rgba(0,0,0,0.4);
	-moz-box-shadow:inset 0 -1px 0 rgba(255,255,255,0.3),
		inset 0 1px 0 rgba(0,0,0,0.4);
	-ms-box-shadow:inset 0 -1px 0 rgba(255,255,255,0.3),
		inset 0 1px 0 rgba(0,0,0,0.4);
	-o-box-shadow:inset 0 -1px 0 rgba(255,255,255,0.3),
		inset 0 1px 0 rgba(0,0,0,0.4);
	box-shadow:inset 0 -1px 0 rgba(255,255,255,0.3),
		inset 0 1px 0 rgba(0,0,0,0.4);

}

#checkpointTotal,
#checkpointTitle {
	background: url(../images/mobile/seamless-wood-small-dark.jpg?v2) 50px 100px repeat;
	font-size: 32px;
}

#checkpointTitle {
	text-align: center;
}

#checkpointTimeBonus {
	background-position: 20px 80px;
}

#checkpointSwapsBonus {
	background-position: -200px 10px;
}

#checkpointWordLengthBonus {
	background-position: 100px 0;
}

#checkpointTotal {
	background-position: -50px 30px;
}


/**
 *
 * Level Up!
 *
 */
.timesUp,
.levelUp {
	position: absolute;
	z-index: 100;
	background-position: 0 -654px;
	width: 400px;
	height: 165px;
	margin-left: -360px;
	margin-top: -82px;
	left: 0%;
	top: 0%;
}

.timesUp {
	background-position: 0 -488px;
}


/**
 *
 * Wordhunt
 *
 */
#wordhunt {
	position: absolute;
	z-index: 40;
	width: 560px;
	height: 595px;
	left: -9999px;
	top: 50%;
	margin-top: -297px;
	margin-left: -280px;
	background: url(../images/mobile/div.png?v2) 50% 114px no-repeat;
}

#wordsFound {
	color:#fff9db;
	position: absolute;
	bottom:0;
	width:100%;
	height:330px;
	background:rgba(0,0,0,0.2);
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	padding: 16px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.4),
		0 -1px 0 rgba(0,0,0,0.4);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.4),
		0 -1px 0 rgba(0,0,0,0.4);
	-ms-box-shadow: 0 1px 0 rgba(255,255,255,0.4),
		0 -1px 0 rgba(0,0,0,0.4);
	-o-box-shadow: 0 1px 0 rgba(255,255,255,0.4),
		0 -1px 0 rgba(0,0,0,0.4);
	box-shadow: 0 1px 0 rgba(255,255,255,0.4),
		0 -1px 0 rgba(0,0,0,0.4);
	text-shadow:0 1px 1px rgba(0,0,0,0.7);
	overflow: hidden;
}

#wordsFound strong {
	display: block;
	font-weight: normal;
	font-size: 26px;
	margin-bottom: 5px;
}

#wordlist {
	display: block;
	float: left;
	width: 100%;
}

#wordlist li {
	display: block;
	float: left;
	width: 25%;
	margin-bottom:5px;
	text-transform:capitalize;
	white-space:nowrap;
	overflow: hidden;
	font-size:20px;
}

/**
 *
 * Firework
 *
 */
.firework {
	position: absolute;
	z-index:1100;
	top: 0;
	left: -100px;
	width: 10px;
	height: 10px;
	text-align: center;
	color: #fff;
	font-size: 24px;
	font-family: arial, sans-serif;
}

/**
 *
 * Login
 *
 */
#login {
	position: relative;
	width:100%;
	height:100%;
	text-align:center;
	padding:20px;
	font-size: 20px;
	text-shadow:0 1px 1px #000;
}

#login iframe {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border:0;
	margin:0;
}

#loginTitle {
	font-size:30px;
	line-height: 120%;
}

#google {
	background:url(../images/mobile/google.png?v2) 100% 50% no-repeat;
	display: inline-block;
	padding-right:100px;
	height:100%;
}

#googleButton {
	font-size:20px;
}

.loading #signinButtons {
	display: none;
}

#nickname {
	padding:20px;
	text-align:center;
}

#nickname > div {
	position: relative;
}

#nickname input {
	font-size:25px;
	width:320px;
	padding:10px;
	background:#1d3eba;
	border:1px solid #000;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3), inset 0 0 8px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.3), inset 0 0 8px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 1px 0 rgba(255,255,255,0.3), inset 0 0 8px rgba(0,0,0,0.5);
	-o-box-shadow: 0 1px 0 rgba(255,255,255,0.3), inset 0 0 8px rgba(0,0,0,0.5);
	box-shadow: 0 1px 0 rgba(255,255,255,0.3), inset 0 0 8px rgba(0,0,0,0.5);
	color:#fff;
	text-align:center;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	margin-top:20px;
}

.loading #nicknameFieldset {
	display: none;
}

/**
 *
 * About
 *
 */
#aboutPopup {
	text-align:center;
	padding:20px;
	font-size:22px;
}

#aboutPopup a {
	font-weight: normal;
	display: inline-block;
	text-decoration:none;
	padding: 4px 8px;
	background:-webkit-linear-gradient(top, #399df3, #173484) 0 0 no-repeat;
	background:-moz-linear-gradient(top, #399df3, #173484) 0 0 no-repeat;
	background:-ms-linear-gradient(top, #399df3, #173484) 0 0 no-repeat;
	background:-o-linear-gradient(top, #399df3, #173484) 0 0 no-repeat;
	background:linear-gradient(top, #399df3, #173484) 0 0 no-repeat;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	border: 1px solid #000;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px #000;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px #000;
	-ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px #000;
	-o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px #000;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px #000;
	color:#fff;
	text-shadow:0 -1px 1px rgba(0,0,0,0.5);
}

#aboutPopup a:active {
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 0 1px #000;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 0 1px #000;
	-ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 0 1px #000;
	-o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 0 1px #000;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 0 1px #000;
	-webkit-transform:translateY(2px);
	-moz-transform:translateY(2px);
	-ms-transform:translateY(2px);
	-o-transform:translateY(2px);
	transform:translateY(2px);
}

/**
 *
 * Scoreboard
 *
 */
#leaderboard {
	position: absolute;
	width:100%;
	height:100%;
	top:0;
	left:-9999px;
}

#charts {
	position: absolute;
	z-index:100;
	width:628px;
	height:548px;
	padding:20px;
	bottom:38px;
	right:38px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	background: url(../images/mobile/seamless-wood-small-dark.jpg?v2) 0 0 repeat;
	border:1px solid #000;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2),
		0 -1px 0 rgba(0,0,0,0.2),
		inset 0 0 4px #000;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.2),
		0 -1px 0 rgba(0,0,0,0.2),
		inset 0 0 4px #000;
	-ms-box-shadow: 0 1px 0 rgba(255,255,255,0.2),
		0 -1px 0 rgba(0,0,0,0.2),
		inset 0 0 4px #000;
	-o-box-shadow: 0 1px 0 rgba(255,255,255,0.2),
		0 -1px 0 rgba(0,0,0,0.2),
		inset 0 0 4px #000;
	box-shadow: 0 1px 0 rgba(255,255,255,0.2),
		0 -1px 0 rgba(0,0,0,0.2),
		inset 0 0 4px #000;
	text-align:center;
	color:#fff;
}

#charts > div {
	position: absolute;
	z-index:100;
	top:10px;
	left:10px;
	right:10px;
	bottom:10px;
	padding:10px 20px;
	background: url(../images/mobile/cloth.png?v2) 0 0 repeat;
	-webkit-box-shadow:inset 4px 4px 5px rgba(255,255,255,0.2),
		inset -4px -4px 5px rgba(0,0,0,0.3),
		0 0 4px #000;
	-moz-box-shadow:inset 4px 4px 5px rgba(255,255,255,0.2),
		inset -4px -4px 5px rgba(0,0,0,0.3),
		0 0 4px #000;
	-ms-box-shadow:inset 4px 4px 5px rgba(255,255,255,0.2),
		inset -4px -4px 5px rgba(0,0,0,0.3),
		0 0 4px #000;
	-o-box-shadow:inset 4px 4px 5px rgba(255,255,255,0.2),
		inset -4px -4px 5px rgba(0,0,0,0.3),
		0 0 4px #000;
	box-shadow:inset 4px 4px 5px rgba(255,255,255,0.2),
		inset -4px -4px 5px rgba(0,0,0,0.3),
		0 0 4px #000;
	border:1px solid #000;
	text-shadow:0 1px 0 #1e2d19;
}

#chartSelect {
	position: absolute;
	z-index:100;
	width:224px;
	top:133px;
	bottom:38px;
	left:30px;
}

#chartSelect .switch {
	display:inline-block;
	width:231px;
	height:63px; line-height:63px;
	text-align:center;
	background: url(../images/mobile/wooden-button.png?v4) 0 0 no-repeat;
	color:#100704;
	font-size:24px;
	text-shadow:0 1px 1px rgba(255,255,220,0.3), 0 -1px 0 rgba(0,0,0,0.2), 0 0 5px rgba(255,255,220,0.2);
	margin-bottom:20px;
	cursor: default;
}

#chartSelect .switch.active {
	background-position:0 100%;
	line-height:64px;
	color:#f1cf7e;
	text-shadow:0 1px 1px rgba(255,255,220,0.1), 0 -1px 0 rgba(0,0,0,0.5), 0 0 5px rgba(255,255,220,0.4);
	font-size:23px;
}

#charts h1 {
	text-align:center;
	font-size:28px;
	margin-bottom:5px;
	line-height:130%;
}

#charts table {
	width:100%;
	border-spacing:4px 2px;
}

#charts th {
	background-color:#fff;
	color:#38602b;
	text-shadow:none;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	-webkit-box-shadow: 0 1px 0 #1e2d19;
	-moz-box-shadow: 0 1px 0 #1e2d19;
	-ms-box-shadow: 0 1px 0 #1e2d19;
	-o-box-shadow: 0 1px 0 #1e2d19;
	box-shadow: 0 1px 0 #1e2d19;
	font-weight:normal;
	font-size:20px;
}

#charts th.small {
	font-size:15px;
	width:1%;
}

#charts th.score {
	width:1%;
}

#charts td,
#charts th {
	padding:4px 8px;
	white-space:nowrap;
	margin:0 2px;
}

#charts td.left {
	text-align:left;
}
#charts td.right {
	text-align:right;
}

#charts td.self {
	color:#fffe76;
}

#charts td {
	font-size:22px;
}

#charts tbody tr:nth-child(even) td {
	background:rgba(255,255,255,0.2);
}

#chartsBack {
	position: absolute;
	bottom:0;
	left:50%;
	margin-left: -149px;
}

/**
 *
 * Mainmenu Login Monitor
 *
 */
#loginMonitor {
	position: absolute;
	display: none;
	bottom:20px;
	left:20px;
	max-width:200px;
	border: 1px solid #000;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2),
		inset 0 1px 0 rgba(255,255,255,0.3);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.2);
	-ms-box-shadow: 0 1px 0 rgba(255,255,255,0.2);
	-o-box-shadow: 0 1px 0 rgba(255,255,255,0.2);
	box-shadow: 0 1px 0 rgba(255,255,255,0.2),
		inset 0 1px 0 rgba(255,255,255,0.3),
		inset 0 -1px 0 rgba(100,50,0,0.6);
	padding:8px;
	font-family:helvetica,arial,sans-serif;
	font-size:12px;
	color:#eee;
	line-height:130%;
	text-align:center;
	text-shadow:0 1px 0 rgba(0,0,0,0.5);
	background:rgba(255,255,240,0.1);
	cursor: default;
}

#news {
	display: none;
	position: absolute;
	bottom:20px;
	right:20px;
	color:#ffd;
	background:rgba(20,0,0,0.25);
	padding:10px;
	width:180px;
	border: 1px solid #000;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2),
		inset 0 1px 0 rgba(255,255,255,0.3);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.2);
	-ms-box-shadow: 0 1px 0 rgba(255,255,255,0.2);
	-o-box-shadow: 0 1px 0 rgba(255,255,255,0.2);
	box-shadow: 0 1px 0 rgba(255,255,255,0.2),
		inset 0 1px 0 rgba(255,255,255,0.3),
		inset 0 -1px 0 rgba(100,50,0,0.6);
	text-shadow:0 1px 0 rgba(0,0,0,0.5);
}

#news span {
	display: block;
	font-size:15px;
}

#news .title {
	text-align:center;
	font-size:18px;
	margin-bottom:6px;
}

#news a {
	color:#ffe834;
}

#news a:hover {
	color:#a9ec24;
}

/**
 *
 * Tutorial
 *
 */
#tutorial {
	font-size:22px;
	text-align:center;
	padding:10px;
	width:100%;
}

#tutorial video {
	width:320px;
	height:240px;
	border:2px solid #000;
	display: inline-block;
}
